<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/css/fileinput.css" rel="stylesheet" media="screen">
    <link href="static/css/stylesheet.css" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="static/image/favicon.ico">

</head>
<body>
    {% if user.name == '' %}
        <p style="font-family: Impact; font-size: 24px; color: #2a6496; text-align: center; margin-top: 200px ">
            You are not logged in, you need to join to the dark side to view this page...Also, we got a cookies:)))</p>
        <br><a href="login" ><img style="margin-left: 480px; border-radius: 0px" src="/static/image/signin.png"></a>
    {% endif %}

    {% if user.name != '' %}

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">UnArea</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="documents">Documents</a></li>
                  <li><a href="upload">Upload</a></li>
                 <!-- <li><a href="#">Contact</a></li>-->
              </ul>
                <img id="avatar" src={{ user.picture }}>
                <h5 style="top: 14%; right: 13% ;text-align: right; width: 400px; height: 50px; position: absolute; color: white">{{ user.name }}</h5>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="container-fluid text-center">
          <div class="row content">
            <div class="col-sm-2 sidenav">
              <p><a href="http://www.kspu.edu/">Херсонський державний університет</a></p>
              <p><a href="http://ksuonline.kspu.edu/">KSU Online</a></p>
            </div>
            <div class="col-sm-8 text-left">
        {% block content %}
        {% endblock %}
            </div>
            <div class="col-sm-2 sidenav">
              <div class="well">
                <p>ADS</p>
              </div>
              <div class="well">
                <p>ADS</p>
              </div>
            </div>
          </div>
        </div>

    <footer class="container-fluid text-center" style="bottom: 0px">
        <p>Kherson state university - 2016</p>
    </footer>
{% endif %}
</body>
</html>
