<!DOCTYPE html>
{% extends "index.html" %}

{% block content %}

<div class="size-table__wrapper">
<table class="table table-condensed">
<tbody>
    <tr class="info">
        <td width="20.45%"><span>DOCUMENT</span></td>
        <td class="size-table__bold  size-table__highlighted" width="45.55%">DESCRIPTION</td>
        <td width="11.3%"><span>DOWNLOAD</span></td>
        <td width="22.7%"><span>AUTHOR</span></td>
    </tr>

        {% for doc in docs %}
            {% if cafedra == doc.category %}
                <tr class="warning">
                    <td>{{ doc.document_name }}</td>
                    <td class="size-table__bold  size-table__highlighted"><span>{{ doc.document_info }}</span></td>
                    <td><span><a href="{{ url_for('uploaded_file',
                                            filename=doc.document_url) }}">Download</a></span></td>
                    <td><span>{{ doc.doc_uploader.name }}</span></td>
                </tr>
            {% endif %}
        {% endfor %}
</tbody>
</table>
</div>
{% endblock %}
</html>