<!DOCTYPE html>
{% extends "base.html" %}



{% block content %}
    <img width="200px" height="200px" src = {{ user.picture }}>
    <p><strong>Name: </strong>{{ user.name }}</p>
    <p><strong>Faculty: </strong>{{ cuser.query.filter_by(google_id = user.google_id).first().faculty.faculty_name }}</p>
    <p><strong>Cafedra: </strong>{{ cuser.query.filter_by(google_id = user.google_id).first().cafedra.cafedra_name }}</p>
    <p><strong>Course: </strong>{{ cuser.query.filter_by(google_id = user.google_id).first().course }}</p>
{% endblock %}




