<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
<div class="registration">
<form class="form-inline" method="POST" action="{{ url_for('registration') }}">
    <h1>Registration</h1>

    <table>
        <tr>
            <td>Faculty:</td>
            <td><select class="form-control" id="exampleSelect1" name="Faculty">
                <option selected value=1>Physycs, Mathematics and Information Technologies</option>
            </select>

            </td>
        </tr>
        <tr>
            <td>Cafedra:</td>
            <td><select class="form-control" id="exampleSelect1" name="Cafedra">
                <option disabled>Select cafedra</option>
                <option value=1>Mathematics</option>
                <option value=2>Physics</option>
                <option value=3>Information Technologies</option>
                <option value=4>Programm Ingeneering</option>
                <option value=5>Economical Cybernetics</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Course:</td>
            <td><input type="text" name="course" class="form-control" size="1" width="10px" required/></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary">Register</button></td>
        </tr>
    </table>
    </form>
</div>
{% endblock %}