<!DOCTYPE html>
{% extends "index.html" %}

{% block content %}
    <div class="upload">
        <h1>Upload new File</h1>
        <form action="" method=post enctype=multipart/form-data>
             <tr>
                <td>File name:</td>
                <br><td><input name="doc_name" type="text" class="form-control" maxlength="36" id="exampleInputEmail1" placeholder="Enter file name"></td>
                 <br><td>Description:</td>
                 <br><td><textarea class="form-control" id="exampleTextarea" placeholder="Enter file description" maxlength="60" name="description" rows="3"></textarea></td>
            </tr>
            <tr>
                <br><td>Category:</td>
                <br><td><select class="form-control" id="exampleSelect1" name="category">
                    <option disabled>Select cafedra</option>
                    <option value=1>Mathematics</option>
                    <option value=2>Physics</option>
                    <option value=3>Information Technologies</option>
                    <option value=4>Programm Ingeneering</option>
                    <option value=5>Economical Cybernetics</option>
                </select>
            </td>
        </tr>
                <br><div class="file-upload" data-text="Select file">
                    <input type="file" name="file">
                </div>
            <br><br><button type="submit" value="Upload" class="btn btn-primary">Upload</button>
        </form>
    </div>
{% endblock %}